.overflowX {
  width: 200px;
  overflow: hidden;
}

.overflowX .wrap {
  position: relative;
  display: flex;
  user-select: none;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.overflowX .wrap::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

button {
  flex: 1 0 auto;
}

.touch {
  width: 200px;
  overflow: hidden;
  touch-action: pan-y;
}

.touch .wrap {
  position: relative;
  display: flex;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  transition: transform 0.1s;
}
